!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Obst-Gebringsel
    = stylesheet_tag "application"
    = javascript_tag "application"
  %body
    .content.pure-g-r
      .splash.pure-u-1
        .pure-g-r
          .pure-u-1-3
            .l-box.splash-image
              %a.fancybox{href: image_path("large/full.png")}
                %img{src: image_path("large/title.png")}/
          .pure-u-2-3
            .l-box.splash-text
              %h1.splash-head
                Obstgebringsel
              %h2.splash-subhead
                Frische Früchte frei Haus in Ihre Firma
              %h2.splash-subhead
                So gut und gesund könnte auch Ihre Woche immer anfangen, denn wir beliefern Münchner Firmen wöchentlich mit unseren gesunden Obstgebringsel- Kisterln und -Körben.

      .content.pure-u-1
        .pure-g-r.content-ribbon
          .pure-u-1
            .l-box
              %p
                Unsere "Obstgebringsel-Kisterl" gibt es bereits ab 10,- &euro; für das "Einfache Kisterl" und bis 25,- &euro; in der "Großen Ausführung" für Sie und Ihre Angestellten.
              %p
                Darüber hinaus bieten wir dekorativ arrangierte Obst-Körbe zum Beispiel für den Empfangsbereich, für Sitzungen oder als Vitamin-Kick für Ihre Mitarbeiter. Je nach Füllwunsch schon ab 20,- &euro;.
              %p
                Bei Interesse haben Sie die Möglichkeit eines der Kisterl oder Körbe einmalig als Probelieferung zum 1/2 Preis zu erhalten. Diese Probelieferung enthält die saisonal lieferbaren Obstsorten und soll Ihnen auch einen Eindruck der Menge und Qualität vermitteln. Freuen Sie sich im Sommer auf Beeren, Steinobst, im Herbst auf Trauben, Äpfel, Feigen, Birnen und im Winter und Frühjahr auf vitaminreiche Clementinen,Orangen usw. Gerne können wir Ihr Kisterl auch mit "Knabberzeug" wie Cocktailtomaten, Paprika, Karotten, Gürkchen, Kohlrabi etc. befüllen.

      .content.pure-u-1
        .pure-g-r.content-ribbon
          .pure-u-2-3
            .l-box
              %h4.content-subhead Some small text
              %h3 Lorem ipsum dolor sit amet.
              %p
                Pellentesque hendrerit lobortis ornare. Fusce luctus imperdiet consequat. Nullam quis nunc quis ligula luctus vestibulum non quis libero. Suspendisse tristique nisl ut velit facilisis sit amet.
          .pure-u-1-3
            .l-box
              %img{src: image_path("large/detail.png")}/

        .pure-g-r.content-ribbon
          .pure-u-1-3
            .l-box
              %img{src: image_path("large/detail.png")}/
          .pure-u-2-3
            .l-box
              %h4.content-subhead Some more small text
              %h3 Etiam iaculis iaculis lobortis.
              %p
                Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum. Morbi fermentum dui sit amet libero tincidunt rutrum. Nam sodales consequat metus sed accumsan.
        .pure-g-r
          .pure-u-1
            .l-box.ribbon
              %h2 Als kleines Dankeschön erhalten Sie bei regelmäßiger Bestellung einmalig Ihr 10.Kisterl Gratis!
        .pure-g-r
          .pure-u-1-4
            .l-box
              %h3 Bezahlung
              %p
                Geschäftskunden zahlen nach monatlicher Rechnungstellung per Überweisung.
                Alle Preise verstehen sich zuzüglich der gesetzlichen MWSt.
                Privatkunden und die Kisterl zu 10,- und 13,- können
                ausschließlich gegen Bar-Rechnung beliefert werden.
          .pure-u-1-4
            .l-box
              %h3 Kündigung
              %p
                Jederzeit und ohne Angabe von Gründen bitte VOR
                der nächsten Lieferung per Tel., SMS oder E-Mail.
          .pure-u-1-4
            .l-box
              %h3 Wann wird geliefert?
              %p
                Wir liefern je nach Wunsch am Mo., Di., Do. und Fr. vormittags wöchentlich, 2-wöchentlich oder monatlich. Mittwoch haben wir Kurzurlaub :)
          .pure-u-1-4
            .l-box
              %h3 Änderungen von Lieferungen
              %p
                Sie können jederzeit den Lieferrythmus, die Obst-Zusammenstellung und die Art der Kisterl ändern.
                Ebenso sind Lieferpausen z.B. während des Urlaubs möglich.
        .pure-g-r
          .pure-u-1-4
            .l-box
              %h3 Wichtig
              %p
                Wir liefern nicht am Gründonnerstag, Ostermontag und am Dienstag danach, ebenso nicht in den bayerischen Pfingstferien, in der Woche um den 15. Aug. und in der Zeit vor Weihnachten bis einschließlich Heilig-Drei-Könige!
          .pure-u-1-4
            .l-box
              %h3 Anschrift
              %pre
                = preserve do
                  Obstgebringsel
                  Ulrich Gey
                  Trimburgstrasse 10
                  81249 München

                  Tel. Mobil: 0177 - 714 8888
                  Tel. Festnetz: 089/ 99 75 39 39
              %p
                Bitte besprechen Sie ggf. die Mobilbox oder den
                Anrufbeantworter. (Bin oft beim Liefern)
              %pre
                = preserve do
                  E-Mail: obstgebringsel@gmx.de
          .pure-u-1-4
            .l-box
              %h3 Bankverbindung
              %pre
                = preserve do
                  Kreissparkasse Mü-Sta-Ebe
                  Konto-Nr.: 108 794 43,
                  BLZ: 702 501 50
                  IBAN: DE07 7025 0150 0010 879 443

                  Steuer-Nr.: 147/138/71061 Finanzamt Mü.II
      .footer.pure-u-1
        View the source of this layout to learn more. Made with love by the YUI Team.
